<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=514, initial-scale=1.0">
  <title>pixel-artboard</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div id="app">
    <div @mousewheel='handleZoom' class="wrapper" ref='wrapper'>
      <canvas @mousedown='prepareDrag'  @mousemove="getCoor" ref='canvas' :width='width' :height='height' style='top:0px;left:0px'></canvas>
    </div>
    <button @click="startPickingColor" class="pick-btn">
      <unpicking v-if="!pickingColor"></unpicking>
      <picking v-if="pickingColor"></picking>
    </button>
    <input type="color" v-model="color" style="border-radius: 5px;">
    <span class="font">{{`(${currSite.x},${currSite.y})`}}</span>
    <span class="olCount"><i class="font">Online&nbsp;{{onlineCount}}</i></span>
    <div class='common-colors'>
      <span v-for='c of commonColors' @click='color=c' :class='{"color-card":true,active:c==color}' :style='{color:c}'></span>
    </div>
  </div>
<script>eruda.init();</script>
</body>
<template id="picking">
  <i class="iconfont" id="ing">&#xea0c;</i>
</template>
<template id="unpicking">
  <i class="iconfont" id="uning">&#xe702;</i>
</template>

<script src="vue-2.5.17.js"></script>
<script src="hammer.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        pixelData: [],
        commonColors: ['#000000','#ffffff','#aaaaaa','#555555','#fed3c7','#ffc4ce','#faac8e','#ff8b83','#f44336','#e91e63','#e2669e','#9c27b0','#673ab7','#3f51b5','#004670','#0571197','#2196f3','#00bcd4','#3be5db','#97fddc','#167300','#37a93c','#89e642','#d7ff07','#fff6d1','#f8cb8c','#ffeb3b','#ffc107','#ff9800','#ff5722','#b83f27','#795548'],
        color: '#000000',
        width: 512,
        height: 512,
        pickingColor: false,
        zoomFactor: 1,
        onlineCount: 0,
        currSite: { x: '?', y: '?' }
      }
    },
    methods: {
      //获取当前坐标值
      getCoor(e) {
        let { x, y } = this.getMousePosition(e)
        this.currSite.x = x
        this.currSite.y = y
        let canvas = this.$refs.canvas
        canvas.addEventListener('mouseout', (e) => {
            this.currSite.x = '?'
            this.currSite.y = '?'
        })
        },
      //电脑端拖拽
      prepareDrag(e) {
        let canvas = this.$refs.canvas
        let startX = e.clientX
        let startY = e.clientY
        let posX = parseInt(canvas.style.left)
        let posY = parseInt(canvas.style.top)
        let moveHandler
        let upHandler

        //判断是否是拖拽移动
        let moved = false
        // curr为拖拽后鼠标位置，diff为鼠标移动的距离，将移动二代距离给left，和top即为移动后canvas的位置
        canvas.addEventListener('mousemove', moveHandler = e => {
          let currX = e.clientX
          let currY = e.clientY
          let diffX = currX - startX
          let diffY = currY - startY
          canvas.style.left = posX + diffX + 'px'
          canvas.style.top = posY + diffY + 'px'
        })
        //如果移动的距离在X,Y方向上大于2就是移动。moved为True，不点击画点或取色
        canvas.addEventListener('mouseup',upHandler = e => {
          let currX = e.clientX
          let currY = e.clientY
          let diffX = currX - startX
          let diffY = currY - startY
          if (Math.abs(diffX) > 2 || Math.abs(diffY) > 2) {
            moved = true
          }
          canvas.removeEventListener('mousemove', moveHandler)
          canvas.removeEventListener('mouseup', upHandler)
          //不移动就画点或取色
          if (!moved) {
            this.handleCanvasClick(e)
          }
        })
      },
      getMousePosition(e) {
        
        let clientX = e.clientX // 相对于视口左上角的位置
        let clientY = e.clientY
        // getBoundingclientRect 也相对于视口，与clientX 作差即误差（并除以系数处理）
        let rect = this.$refs.canvas.getBoundingClientRect()
        // 正数浮点数与0 或运算 向下取整
        let x = (clientX - rect.left) / this.zoomFactor | 0
        let y = (clientY - rect.top) / this.zoomFactor | 0
        return { x, y }
      },
      getMouseAbsPosition(e) {
        let clientX = e.clientX // 相对于视口左上角的位置
        let clientY = e.clientY
        // getBoundingclientRect 也相对于视口，与clientX 作差即误差（并除以系数处理）
        let rect = this.$refs.canvas.getBoundingClientRect()
        // 正数浮点数与0 或运算 向下取整
        let x = (clientX - rect.left) | 0
        let y = (clientY - rect.top) | 0
        return { x, y }
      },
      getFingerAbsPosition(e) {
        let {x,y} = e.center
        // getBoundingclientRect 也相对于视口的 CSS坐标（top，left，bottom，right），做差便是相对于该元素
        let rect = this.$refs.canvas.getBoundingClientRect()
        // 正数浮点数与0 或运算 取整
        let fx = (x - rect.left) | 0
        let fy = (y - rect.top) | 0
        return { fx, fy }
      },
      //获取取色器图像，将获取的颜色画在canvas上，再把canvas转为img给cursor
      makeCursorImg (color) {
        let cursor = document.createElement('canvas')
        let ctx = cursor.getContext('2d')
        cursor.width = 41
        cursor.height = 41

        ctx.beginPath()
        ctx.lineWidth = 2
        ctx.strokeStyle = '#000000'
        ctx.moveTo(0, 6)
        ctx.lineTo(12, 6)
        ctx.moveTo(6, 0)
        ctx.lineTo(6, 12)
        ctx.stroke()

        ctx.beginPath()
        ctx.arc(25, 25, 14, 0, 2 * Math.PI, false)
        ctx.lineWidth = 2
        ctx.strokeStyle = '#000000'
        ctx.stroke()
        ctx.beginPath()
        ctx.arc(25, 25, 13.4, 0, 2 * Math.PI, false)
        ctx.fillStyle = color
        ctx.fill()

        // document.getElementById('canvas').style.cursor = 'crosshair'
        // document.getElementById('canvas').style.cursor = 'url(' + cursor.toDataURL() + ') 6 6, crosshair'

        return cursor.toDataURL()
      },

      //判断是否取色，取色执行pickcolor,否则drawdot
      handleCanvasClick(e) {
        
        if (this.pickingColor) {
          this.pickColor(e)
        } else {
          this.drawDot(e)
        }
      },
      //rgba转16进制夜色
      rgba2hex(dot) {
        dot = Array.from(dot)
        var dot = dot.map(it => it.toString(16).padStart(2, '0'))
        return '#'+dot[0]+dot[1]+dot[2]
      },
      //更新cursor图标
      updateCursor: function (e) {
        let color = this.getCurrHoverColor(e)
        let cursorUrl = this.makeCursorImg(color)
        
        this.$refs.canvas.style.cursor = `url(${cursorUrl}) 6 6, crosshair`
      },
      //获取颜色并转换颜色
      getCurrHoverColor(e) {
        var { x, y } = this.getMousePosition(e)
        let p = this.ctx.getImageData(x, y, 1, 1).data
        let hexColor = this.rgba2hex(p)
        return hexColor
      },
      //开始取色
      startPickingColor() {
        this.pickingColor = true
        this.$refs.canvas.addEventListener('mousemove', this.updateCursor)
      },
      //取色
      pickColor(e) {
        let hexColor = this.getCurrHoverColor(e)
        this.pickingColor = false
        this.color = hexColor
        this.$refs.canvas.removeEventListener('mousemove', this.updateCursor)
        this.$refs.canvas.style.cursor = ''
      }, 
      //画点
      drawDot(e) {
        let { x, y } = this.getMousePosition(e)
        this.ws.send(JSON.stringify({
          type: 'drawDot',
          x: x,
          y: y,
          color: this.color,
        }))
      },
      //电脑端缩放
      handleZoom(e) {
        canvas = this.$refs.canvas
        let { x, y } = this.getMouseAbsPosition(e)
        let preFactor = this.zoomFactor
        let posX = parseInt(canvas.style.left)
        let posY = parseInt(canvas.style.top)
        e.preventDefault()
        if (e.deltaY < 0) {
          this.zoomFactor = this.zoomFactor * 1.25
        } else {
          this.zoomFactor = this.zoomFactor * 0.8
        }
        if (this.zoomFactor < 1) {
          this.zoomFactor = 1
        }
        if (this.zoomFactor > 30) {
          this.zoomFactor = this.zoomFactor * 0.8
        }
        let mtp = this.zoomFactor / preFactor // 变化的倍数
        // 缩放后的指针 相对 坐标
        let cX = mtp * x
        let cY = mtp * y

        // 缩放中心（css设置为左上角(0,0)） 应当的位移(差值)
        let diffX = cX - x
        let diffY = cY - y

        canvas.style.top = (posY - diffY) + 'px'
        canvas.style.left = (posX - diffX) + 'px'
        if (this.zoomFactor == 1) {
          canvas.style.left = '0px'
          canvas.style.top = '0px'
        }
        canvas.style.transform = `scale(${this.zoomFactor})`
      },
      //移动端缩放，初始就绑定
      initScale() {
        let canvas = this.$refs.canvas
        let wrapper = this.$refs.wrapper
        let myPhone = new Hammer(wrapper)
        
        //设置双指缩放
        myPhone.get('pinch').set({ enable: true })
        myPhone.on('pinchout', (e) => {
          e.preventDefault()
          let preFactor = this.zoomFactor
          let {fx,fy} = this.getFingerAbsPosition(e)
          let posX = parseInt(canvas.style.left)
          let posY = parseInt(canvas.style.top)
          this.zoomFactor = this.zoomFactor * e.scale
          console.log(preFactor,1);
          console.log(this.zoomFactor,2);
          if (this.zoomFactor > 30) {
              this.zoomFactor = this.zoomFactor*(1 / e.scale)
          }
          console.log(this.zoomFactor,3);
          let mtp = this.zoomFactor / preFactor
          
          let cX = mtp * fx
          let cY = mtp * fy

          let diffX = cX - fx
          let diffY = cY - fy
          
          canvas.style.top = (posY - diffY) + 'px'
          canvas.style.left = (posX - diffX) + 'px'
          canvas.style.transform = `scale(${this.zoomFactor})`
        }),
        myPhone.on('pinchin', (e) => {
          e.preventDefault()
          let preFactor = this.zoomFactor
          let {fx,fy} = this.getFingerAbsPosition(e)
          let posX = parseInt(canvas.style.left)
          let posY = parseInt(canvas.style.top)
          
          this.zoomFactor = this.zoomFactor * e.scale
          if (this.zoomFactor < 1) {
              this.zoomFactor = 1
              canvas.style.top = '0px'
              canvas.style.left = '0px'
          } 
          let mtp = this.zoomFactor / preFactor 
          
          let cX = mtp * fx
          let cY = mtp * fy

          let diffX = cX - fx
          let diffY = cY - fy
          
          
          canvas.style.top = (posY - diffY) + 'px'
          canvas.style.left = (posX - diffX) + 'px'
          if (this.zoomFactor == 1) {
              
              canvas.style.left = '0px'
              canvas.style.top = '0px'
          }
          canvas.style.transform = `scale(${this.zoomFactor})`
        })
      },
      //移动端拖拽
      initPhoneDrag() {
        
        var prevent = document.querySelector('.wrapper')
        prevent.addEventListener('touchmove', (e) => {
            e.preventDefault()
        })
        let canvas = this.$refs.canvas
        let wrapper = this.$refs.wrapper
        
        let myPhone = new Hammer(wrapper)
        
        myPhone.on('panstart', (e) => {
          let startX = e.center.x
          let startY = e.center.y
          
          let posX = parseInt(canvas.style.left)
          let posY = parseInt(canvas.style.top)
          myPhone.on('panmove', (e) => {
            let currX = e.center.x
            let currY = e.center.y
            let diffX = currX - startX
            let diffY = currY - startY
            canvas.style.left = posX + diffX + 'px'
            canvas.style.top = posY + diffY + 'px'
          })
        })
      }
    },
    mounted() {
      console.log(222);
      this.initScale()
      this.initPhoneDrag()
      let ws = new WebSocket(`ws://${location.host}/adres`)
      this.ws = ws

      let canvas = this.$refs.canvas
      canvas.style.imageRendering = 'pixelated'

      let ctx = canvas.getContext('2d')
      this.ctx = ctx

      ws.onmessage = (e) => {

        var data = e.data
        
        if (Object.prototype.toString.call(data) === '[object Blob]') {
          let tmpUrl = URL.createObjectURL(data)
          let image = new Image()
          image.src = tmpUrl
          
          image.onload=() => {
            ctx.drawImage(image,0,0)
          }
        } else {
          data = JSON.parse(data)
          if (data.type === 'updateDot') {
            ctx.fillStyle = data.color
            ctx.fillRect(data.x, data.y, 1, 1)
          } else if (data.type === 'onlineCount') {
            this.onlineCount = data.count
          }
        }
      }
    },
    components: {
      'picking': {
        template: '#picking',
      },
      'unpicking': {
        template: '#unpicking',
      }
    }
  })
</script>
</html>